<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style>
	body{
		font-family:Tahoma, Geneva, sans-serif;
		font-size:14px;
	}
</style>
</head>

<body>
	<table width="800" style="margin:auto;">
    	<tr>
        	<td><img src="http://www.hitera.com/hitera/assets/images/header_mail.jpg" width="800" height="120" /></td>
        </tr>
        <tr>
        	<td style="padding:20px;">
            	เรียน ท่านสมาชิก<br />
                
                	<h2>Welcome to new system of E-Commerce</h2>


           <p>หากคุณเป็นบุคคลที่สนใจการตลาดทางออนไลน์และสนใจสร้างรายได้ทางโลกอินเตอร์เน็ต<br />
เพียงคุณมีเวลาทำงานอินเตอร์เน็ตเพียงวันละ 2-3 ชั่วโมงต่อวัน เพื่อการกระจายข้อมูลข่าวสารโฆษณาตามเว็บไซต์ <br />
โดยใช้ใบปลิวออนไลน์หรือ banner เป็นสื่อโฆษณา ทั้งในรูปแบบ รูปภาพ ข้อความ กระจายไปตาม website ต่าง ๆ <br />
ก็สามารถติดต่อสอบถามหาข้อมูลการทำงานได้
                </p>
            </td>
        </tr>
        <tr>
        	<td><img src="http://www.hitera.com/hitera/assets/images/footer_mail.jpg" width="800" height="120" /></td>
        </tr>
    </table>
</body>
</html>
